.box
{
    border: 2px solid green;
}
.box-inside
{
    width: 200px;
    height: 200px;
    background-color: yellow;
    transform: rotate(15deg) translate(100px, 200px);
    transition: all ease-in 0.2s;
}
.box-inside:hover 
{
    transform: rotate(15deg) translate(100px, 200px) scale(1.5);

}